<div>
    {% if codepage_rows %}
        {% for row in codepage_rows %}
            <div style="border:solid 1px #759DC0; border-radius: 5px; background: #CFE5FA; margin-bottom: 10px; font-family: Helvetica, Sans-serif, Droid-Sans, Tahoma;">
               
                <div style="margin-left: 3px; position:relative; left: 1px; padding: 2px;">
                {% for axis in row %}
                    <p>  <b> {{axis.title}} </b> </p>
                    <div style="margin-left: 10px; position:relative; left: 5px;">
                        {% for label in axis.labels %}
                            <p> <b> {{label.code}}</b> - {{label.label_fk.txt}} </p>
                        {% endfor %}     
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class='suggestion_text'> No Rows Specified in coding </p>
    {% endif %}
</div>
